*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  background-color: #fafafa;
  margin: 0;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

$accent-color: #6785e6;

.main-container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-top: 25px;
  padding-bottom: 40px;

  &__link {
    text-decoration: none;

    &:not(:last-child) {
      color: gray;
      pointer-events: none;

      &::after {
        content: "-";
        margin-left: 10px;
        color: #000;
      }
    }

    &:last-child {
      color: #000;

      @media (hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 25px;
}

.main-block {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;

  &__title {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 40px;
  }
}

.payment-info {
  display: grid;
  grid-template-columns: 444px 1fr 1fr;
  gap: 25px;

  > :nth-child(1) {
    grid-column: 1 / -1;
  }

  > :nth-child(2) {
    grid-column: 1 / 2;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__label {
    font-weight: 500;
    text-transform: uppercase;
    color: gray;
    letter-spacing: -0.02em;
  }
}
