*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  background-color: #fafafa;
  margin: 0;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$accent-color: #6785e6;

.main-container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-top: 25px;
  padding-bottom: 40px;

  &__link {
    text-decoration: none;

    &:not(:last-child) {
      color: gray;
      pointer-events: none;

      &::after {
        content: "-";
        margin-left: 10px;
        color: #000;
      }
    }

    &:last-child {
      color: #000;

      @media (hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding-bottom: 25px;
}

.main-block {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;

  &--without-pb {
    padding-bottom: 0;
  }

  &__title {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 40px;
  }
}

.payment-info {
  display: grid;
  grid-template-columns: 1fr 130px 130px;
  gap: 25px;

  > :nth-child(1) {
    grid-column: 1 / -1;
  }

  > :nth-child(2) {
    grid-column: 1 / 2;
  }
}

.form-field {
  $root: &;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__label {
    font-weight: 500;
    text-transform: uppercase;
    color: gray;
    letter-spacing: -0.02em;
  }

  &__input {
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 10px;

    &:focus {
      outline-color: $accent-color;
    }
  }

  &:focus-within {
    #{$root}__label {
      color: $accent-color;
    }
  }
}

.billing-info {
  margin-inline: -30px;
}

.form-radio {
  $root: &;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 15px 30px;

  & + & {
    border-top: 1px solid #dedede;
  }

  @media (hover: hover) {
    &:not(:has(#{$root}__input:checked)) {
      cursor: pointer;
    }

    &:hover {
      #{$root}__icon {
        &::before {
          background-color: #e4e4e4;
        }
      }
    }
  }

  &__input:checked {
    & + #{$root}__icon {
      border-color: $accent-color;

      &::before {
        background-color: $accent-color;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      width: 50%;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: background-color 200ms ease;
    }
  }
}

.form-action {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
